{% extends 'base.html.twig' %}
{% block title 'Search for a movie' %}

{% block body %}

<!-- Search bars -->

    <div class="cont">
        {% for movie in movies %}<br>
            <div class="card">
                <div class="card-body">
                <h5 class="btn btn-primary btn-lg btn-block">{{ movie.title }} </h5><br>
                <img src={{ movie.poster }}> <br><br>
                <p class="card-text" style="color: gray;">{{ movie.overview }} </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <style> 
        .cont{display: flex; flex-wrap: wrap; }
        .card{width: 50%; text-align : center; min-width: 300px; }
        .card-body{padding: 10px 50px 50px 50px;}
    </style>
    
{% endblock %}